<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>협력업체 정보등록</title>
       <link rel="stylesheet" href="/order/contractor.css">
    <link rel="stylesheet" href="/order/contractorRegister.css">
</head>
<body>
<th:block th:include="header/header.html"></th:block>
      <!-- 협력업체 정보등록 -->
    <div class="content_detail" id="content_detail">
        <div id="content" class="maOrderCont">
            <ul class="order_lnb">
                <li>
                        <a href="/mainpage">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 51 51" fill="none">
                            <path d="M21.7266 29.2581H30.086V43.8871H21.7266V29.2581Z" fill="#F08080"/>
                            <path d="M43.5033 21.2748L27.3905 4.80665C27.1962 4.61077 26.965 4.4553 26.7104 4.3492C26.4557 4.2431 26.1826 4.18848 25.9067 4.18848C25.6308 4.18848 25.3576 4.2431 25.103 4.3492C24.8483 4.4553 24.6171 4.61077 24.4229 4.80665L8.31002 21.2957C7.92013 21.6887 7.6122 22.1553 7.40412 22.6683C7.19604 23.1813 7.09195 23.7306 7.0979 24.2842V41.7972C7.09628 42.8671 7.50495 43.8968 8.23975 44.6744C8.97454 45.4519 9.97953 45.9181 11.0477 45.977H17.5472V27.1682C17.5472 26.6139 17.7674 26.0824 18.1593 25.6904C18.5512 25.2985 19.0828 25.0783 19.6371 25.0783H32.1763C32.7305 25.0783 33.2621 25.2985 33.654 25.6904C34.0459 26.0824 34.2661 26.6139 34.2661 27.1682V45.977H40.7656C41.8338 45.9181 42.8388 45.4519 43.5736 44.6744C44.3084 43.8968 44.717 42.8671 44.7154 41.7972V24.2842C44.7171 23.1618 44.2825 22.0827 43.5033 21.2748Z" fill="#F08080"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 17 29" fill="none">
                        <path d="M2 2L14.3352 14.3352L2 26.6705" stroke="#F08080" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </li>
                <li>
                    <a href="/Contractor">협력업체</a>
                </li>
                <li> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 17 29" fill="none">
                        <path d="M2 2L14.3352 14.3352L2 26.6705" stroke="#F08080" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </li>
                <li>
                    <a href="/ContractorRegister">협력업체 등록</a>
                </li>
            </ul>
            <!--lnb -->
            <h2 class="sub_tit">협력업체 정보 등록</h2>
            <!--form 시작-->
            <form method="post" class="editBox" id="contractorRegisterForm" action="/contractor/register/action">
                <div class="materialInfoBox">
                    <table class="info">
                        <tr>
                            <th>사업자 등록번호<span>*</span></th>
                            <td>
                                <input type="text"  id="companyNo" name="companyNo" placeholder="사업자번호 입력"required>
                            </td>
                        </tr>
                        <tr>
                            <th>협력업체 명<span>*</span></th>
                            <td>
                                <input type="text"  id="buyName" name="buyName" placeholder="협력업체 입력"required>
                            </td>
                        </tr>
                        <tr>
                            <th>담당자 명</th>
                            <td>
                                <input type="text"  id="managerName" name="managerName" placeholder="담당자명 입력"required>
                            </td>
                        </tr>
                        <tr>
                            <th>담당자 핸드폰 번호</th>
                            <td>
                                <input type="text"  id="managerContact" name="managerContact" placeholder="담당자 핸드폰 번호 입력"required>
                            </td>
                        </tr>
                        <tr>
                            <th>담당자 이메일</th>
                            <td>
                                <input type="email"  id="mMail" name="mMail" placeholder="담당자 이메일 입력"required>
                            </td>
                        </tr>
                    </table>
                    <div class="buttonBox">
                        <input type="reset" value="취소">
                        <input type="submit" value="등록">
                    </div>
                </div>
            </form>
            <!--form 끝-->
        </div>
        <!--content-->
    </div>
    </div>

</body>
</html>