<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원부재료등록</title>
    <link rel="stylesheet" href="common/header.css">
    <link rel="stylesheet" href="/order/material_register.css">
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	function openConstractorPopUp() {
		$('#btn_search').click();
		$(".driverpopBg1").show();
	}
	function closeConstractorPopUp() {
		$(".driverpopBg1").hide();
	}
	$(function () {
		//btn_search 클릭시 실행될 함수(협력업체 검색)
		$('#btn_search').click(function () {
			//controller에서 선언한 kind값은 html의 kind /search동일
			let data = {
				kind: $("#kind").val(),
				search: $("#search").val()
			}
			console.log(data);
			$.ajax({
				url: '/pop/constractorlist',
				data: data,
				type: 'post',
				dataType: 'json',
				success: function (r) {
					console.log(r);
					var tag = "";

					if (r.length === 0) {
						tag = "<tr><td colspan=2'>등록된 협력업체 정보가 없습니다.<td></tr>";
						$('#constractor_data').html(tag);
					} else {

						for (let i = 0; i < r.length; i++) {
							tag += `<tr>`;
							tag += `<td class="constractor1">${r[i].companyNo}</td>`;
							tag += `<td>${r[i].buyName}</td>`;
							tag += `</tr>`;
						}
						console.log(tag)
						$('#constractor_data').html(tag);

						//td 코드 클릭시 해당 값이 기사번호에 기록
						$('#constractor_data tr').on('click', function () {
							// 클릭된 td 요소에서 dNum 값을 가져옴
							// td리스트를 tr로 선택될 수 있게 해서 해당 값 클릭될 수 있도록함
							let companyNoValue = $(this).children().first().text();

							// 검색 input에 클릭한 td 값을 자동으로 입력
							$("#companyNo").val(companyNoValue);
							console.log($("#companyNo"));
							console.log(companyNoValue);

							// driverpopBg를 숨깁니다.
							$(".driverpopBg1").hide();
						});
					}
				}
			})
		})
		//기사 조회버튼 클릭시 기사리스트 보여지도록 처리
		$('#opendriverlist').click(function () {
			$.ajax({
				url: '/pop/constractorlist',
				type: 'post',
				dataType: 'json',
				success: function (r) {
					console.log(r);
					var tag = "";

					if (r.length === 0) {
						tag = "<tr><td colspan=2'>등록된 협력업체 정보가 없습니다.<td></tr>";
						$('#constractor_data').html(tag);
					} else {

						for (let i = 0; i < r.length; i++) {
							tag += `<tr>`;
							tag += `<td class="constractor1";>${r[i].companyNo}</td>`;
							tag += `<td>${r[i].buyName}</td>`;
							tag += `</tr>`;
						}
						console.log(tag)
						$('#constractor_data').html(tag);

						//td 코드 클릭시 해당 값이 기사번호에 기록
						$('#constractor_data tr').on('click', function () {
							// 클릭된 td 요소에서 dNum 값을 가져옴
							// td리스트를 tr로 선택될 수 있게 해서 해당 값 클릭될 수 있도록함
							let companyNoValue = $(this).children().first().text();

							// driverpopBg를 숨깁니다.
							$(".driverpopBg1").hide();
							
							// 검색 input에 클릭한 td 값을 자동으로 입력
							$("#companyNo").val(companyNoValue);
							console.log(companyNoValue);

						});
					}
				}
			})
		})
	});
</script>

<body>
	<th:block th:include="header/header.html"></th:block>
        <!-- 원부재료등록 -->
        <div class="materialEditContent" id="content_detail">
            <div id="content" class="maOrderCont">
                <ul class="order_lnb">
                    <li>
                        <a href="/mainpage">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 51 51" fill="none">
                                <path d="M21.7266 29.2581H30.086V43.8871H21.7266V29.2581Z" fill="#F08080"/>
                                <path d="M43.5033 21.2748L27.3905 4.80665C27.1962 4.61077 26.965 4.4553 26.7104 4.3492C26.4557 4.2431 26.1826 4.18848 25.9067 4.18848C25.6308 4.18848 25.3576 4.2431 25.103 4.3492C24.8483 4.4553 24.6171 4.61077 24.4229 4.80665L8.31002 21.2957C7.92013 21.6887 7.6122 22.1553 7.40412 22.6683C7.19604 23.1813 7.09195 23.7306 7.0979 24.2842V41.7972C7.09628 42.8671 7.50495 43.8968 8.23975 44.6744C8.97454 45.4519 9.97953 45.9181 11.0477 45.977H17.5472V27.1682C17.5472 26.6139 17.7674 26.0824 18.1593 25.6904C18.5512 25.2985 19.0828 25.0783 19.6371 25.0783H32.1763C32.7305 25.0783 33.2621 25.2985 33.654 25.6904C34.0459 26.0824 34.2661 26.6139 34.2661 27.1682V45.977H40.7656C41.8338 45.9181 42.8388 45.4519 43.5736 44.6744C44.3084 43.8968 44.717 42.8671 44.7154 41.7972V24.2842C44.7171 23.1618 44.2825 22.0827 43.5033 21.2748Z" fill="#F08080"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 17 29" fill="none">
                            <path d="M2 2L14.3352 14.3352L2 26.6705" stroke="#F08080" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </li>
                    <li>
                    <a href="/MaterialInfo">원부재료 관리</a>
                    </li>
                    <li> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 17 29" fill="none">
                            <path d="M2 2L14.3352 14.3352L2 26.6705" stroke="#F08080" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </li>
                    <li>
                        <a href="MaterialRegister">원부재료 등록</a>
                    </li>
                </ul>
                <!--lnb -->
                <h2 class="sub_tit">원부재료 등록</h2>
                <form method="post" class="editBox" id="materialRegisterForm" action="/material/register/action">
                    <div class="materialInfoBox">
                        <table class="info">
                            <tr style="display: none;">
                                <th>발주번호</th>
                                <td>
                                    <input type="text" id="buyNo" name="buyNo" placeholder="발주번호">
                                </td>
                            </tr>
                            <tr>
                                <th>재료번호<span>*</span></th>
                                <td>
                                    <input type="text" id="materialNo" name="materialNo" placeholder="재료번호" required>
                                </td>
                            </tr>
                            <tr>
                                <th>재료명<span>*</span></th>
                                <td>
                                    <input type="text" id="materioalName" name="materioalName" placeholder="제품명" required>
                                </td>
                            </tr>
                            <tr>
                                <th>규격</th>
                                <td>
                                    <input type="text" id="mUnit" name="mUnit" placeholder="g, kg, mg, ea">
                                </td>
                            </tr>
                            <tr>
                                <th>BOX당 수량<span>*</span></th>
                                <td>
                                    <input type="text" id="mBOXcount" name="mBOXcount" placeholder="BOX당 수량" required>
                                </td>
                            </tr>
                            <tr>
                                <th>협력업체</th>
                                <td class="coworks">
                                    <input type="text" class="comNo"  id="companyNo" name="companyNo" placeholder="협력업체 사업자번호" readonly>
                                   	<button type="button" id="openConstractorlist" onclick="openConstractorPopUp()">조회</button>
                                </td>
                            </tr>
                        </table>
                        <div class="buttonBox">
                            <input type="reset" value="취소">
                            <input type="submit" value="등록">	
                        </div>
                    </div>
                </form>
            </div>
            <!--content-->
        </div>
    </div>

	<!--driverlist popup-->
	<div class="driverpopBg1">
		<div class="conpopcon" style="width: 300px;">
			<span class="close" onclick="closeConstractorPopUp()" style="width: 40px;">×</a></span>
			<br>
			<h3>협력업체 리스트</h3>
			<div>
				<select id="kind">
					<option value="companyNo">사업자번호</option>
					<option value="buyName">업체명</option>
				</select>
				<input type="text" placeholder="검색" style="width: 150px;" id="search">
				<button id="btn_search">검색</button>
			</div>
			<br>
			<br>
			<table id="constractor_list">
				<thead>
					<th style="width: 100px">사업자번호</th>
					<th style="width: 200px">업체명</th>
				</thead>
				<tbody id="constractor_data">
					<!--td값은 ajax로 받아오기에 비워둬도 상관x-->
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>