<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>발주관리</title>
    <link rel="stylesheet" href="common/header.css">
    <link rel="stylesheet" href="/order/order.css">
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/JsBarcode.code128.min.js"></script>
<script src="js/bxlcommon.js"></script>
<script src="js/bxllabel.js"></script>
<script>
		//바코드 전체 출력하는 함수
	function printAllBarcode() {
		//consignment_data class의 tr 지정
		let row = $(".list tr");

		$(row).each(function (idx, obj) {
			//tr의 자녀 속성인 td중 1번째인 출하코드 선택
			console.log($(obj).children("td").eq(1).text());
			let barcodeValue = $(obj).children("td").eq(1).text();
			//td중 마지막 속성의 자녀 속성인 svg에 0번째 선택
			JsBarcode($(obj).children("td").last().children("svg")[0], barcodeValue, {
				//바코드 크기
				format: "CODE128", width: 1,
				height: 20
			});
		});
	}
		//바코드 출력 함수
	var issueID = 1;
	var printer_name = 'Printer1';

	function viewResult(result) {
		console.log(result);
	}

	function PrintBarcode(row) {
		console.log(row);
		//return
		var barCodeSymbol = 1;
		var barCodeHeight = 100;
		var barWidth = 4;
		var nBarWidth = parseInt(barWidth / 2);
		var barCodeHri = 1;

		setLabelId(issueID);

		checkLabelStatus();
		clearBuffer();

		setWidth(576);

		drawDeviceFont("발주 정보", 30, 10, 'b', 1, 1, 0, 0, 1, 0);
		drawBlock(30, 40, 530, 45, 'B', 5);
		drawDeviceFont(`발주 코드 : ${$(row).eq(1).text()}`, 30, 50, 'd', 1, 1, 0, 0, 0, 0);
		drawDeviceFont(`사업자 번호 : ${$(row).eq(2).text()}`, 30, 90, 'd', 1, 1, 0, 0, 0, 0);
		drawDeviceFont(` 재료번호 : ${$(row).eq(3).text()}`, 30, 130, 'd', 1, 1, 0, 0, 0, 0);
		drawDeviceFont(`발주일자 : ${$(row).eq(5).text()}`, 30, 170, 'd', 1, 1, 0, 0, 0, 0);
		drawDeviceFont(`납기일자 : ${$(row).eq(6).text()}`, 30, 210, 'd', 1, 1, 0, 0, 0, 0);
		drawDeviceFont(`발주수량 : ${$(row).eq(7).text()}`, 30, 250, 'd', 1, 1, 0, 0, 0, 0);
		//x,y,x,y 좌하단 우하단,글꼴,두께
		drawBlock(30, 300, 530, 300, 'B', 5);
		draw1DBarcode($(row).eq(1).text(), 70, 300, barCodeSymbol, nBarWidth, barWidth, barCodeHeight, 0, barCodeHri);
		printBuffer();

		var strSubmit = getLabelData();

		console.log(strSubmit);

		issueID++;
		console.log(strSubmit, viewResult);
		requestPrint(printer_name, strSubmit, viewResult);

	}

	$(function () {
	//바코드 찍으면 자동으로 엔터값 입력
		$("#search_po_p").keyup(function (e) {
			console.log(e.keyCode)
			
			if (e.keyCode == 13){
		// 입력된 문자열을 가져옴
		var inputString = document.getElementById("search_po_p").value;

		// 문자열을 대문자로 변환
		var uppercaseString = inputString.toUpperCase();

		// 변환된 문자열을 다시 입력란에 넣음
		document.getElementById("search_po_p").value = uppercaseString;			
			$('#btn_search').click();
			}
		});
		//바코드 클릭했을 때 바코드 출력시키는 기능
		$("svg").click(function () {
			let row = $(this).parent().parent().children("td");
			PrintBarcode(row);
		});
		//발주날짜선택 + 문자열 검사
	    $('.btn_search').click(function () {
	        let startDate = $('#input_date1').val();
	        let endDate = $('#input_date2').val();
	
	        let data = {
	            startDate: startDate,
	            endDate: endDate,
	            search: $("#search_po_p").val()
	        };
	
	        $.ajax({
	            url: '/buy/search',
	            data: data,
	            type: 'post',
	            dataType: 'json',
	            success: function (r) {
	                console.log(r);
	                var tag = "";
	
	                if (r.length === 0) {
	                    tag = "<tr><td colspan='8'>일치하는 정보가 없습니다.</td></tr>";
	                    $('.list').html(tag);
	                } else {
	                    for (let i = 0; i < r.length; i++) {
	                        tag += `<tr id="buy">`;
	                        tag += `<td><input type='checkbox' name='s_no'></td>`;
	                        tag += `<td>${r[i].buyNo}</td>`;
	                        tag += `<td>${r[i].buyName}</td>`;
	                        tag += `<td>${r[i].materialNo}</td>`;
	                        tag += `<td>${r[i].materioalName}</td>`;
	                        tag += `<td>${r[i].dateOrder}</td>`;
	                        tag += `<td>${r[i].dateReceived}</td>`;
	                        tag += `<td>${r[i].materioalAmount}</td>`;
	                        tag += `<td><svg></svg></td>`;
	                        tag += `</tr>`;
	                    }
	                    $('.list').html(tag);
	                    printAllBarcode();
						updateDataCount(r.length);
						
	                   $("svg").click(function(){
						let row = $(this).parent().parent().children("td");
						PrintBarcode(row);
					});
	               }
	            }
	        });
	    });
	printAllBarcode();
	console.log(printAllBarcode());
    // 전체 선택 체크박스 클릭 시 개별 체크박스 상태 업데이트
    $('input[name="chk_all"]').click(function () {
        var isChecked = $(this).prop('checked');
        $('input[name="s_no"]').prop('checked', isChecked);
    });
    
    // 개별 체크박스를 클릭하면 전체 선택 체크박스 상태 확인 및 업데이트
    $('input[name="s_no"]').click(function () {
        var allCheckbox = $('input[name="chk_all"]');
        var selectedItems = $('input[name="s_no"]:checked');
        
        if (selectedItems.length === 0) {
            // 선택된 개별 체크박스가 없을 때, 전체 선택 체크박스를 해제합니다.
            allCheckbox.prop('checked', true);
        } else if (selectedItems.length === $('input[name="s_no"]').length) {
            // 모든 개별 체크박스가 선택되었을 때, 전체 선택 체크박스를 선택합니다.
            allCheckbox.prop('checked', false);
        }
    });
	});

  // 선택 삭제 버튼 클릭 시 선택된 항목 삭제
  $('.btn.delete').click(function () {
    var selectedItems = $('input[name="s_no"]:checked');
    if (selectedItems.length === 0) {
        alert('삭제할 항목을 선택하세요.');
    } else {
        if (confirm('선택한 항목을 삭제하시겠습니까?')) {
               var buyNos = [];
            
            selectedItems.each(function () {
               buyNo = $(this).closest('tr').find('td:eq(1)').text();
               buyNos.push(buyNo);
               
                console.log(buyNos);
                $.ajax({
					data: {'buyNo': buyNos},
                    url: '/buy/delete/',
                    type: 'post',
                    success: function (r) {
                        if (Number(r.count) == 0) {
                            alert(r.message);
                        } else {
                            alert('삭제 실패');

                            $(selectedItems).closest('tr').remove();
                        }
                    },
                    error: function () {
						alert('서버 오류');
                    }
                });
            });
        }
    }
    });
     $(document).ready(function(){
    // 해당 발주번호를 클릭할 때 해당 열 데이터 넘김
    $('.buyNo').click(function () {
        var materialNo = $(this).closest('tr').find('td:nth-child(4)').text();
        var buyNo = $(this).closest('tr').find('.buyNo').text();
		location.href=`/editOrder?buyNo=${buyNo}&materialNo=${materialNo}`;
    });
});
</script>
<body>
<th:block th:include="header/header.html"></th:block>
       <!-- 발주관리 부분 -->
    <div class="content_detail" id="content_detail">
        <div id="content" class="maOrderCont">
            <ul class="order_lnb">
                <li>
                        <a href="/mainpage/mainpage">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 51 51" fill="none">
                            <path d="M21.7266 29.2581H30.086V43.8871H21.7266V29.2581Z" fill="#F08080"/>
                            <path d="M43.5033 21.2748L27.3905 4.80665C27.1962 4.61077 26.965 4.4553 26.7104 4.3492C26.4557 4.2431 26.1826 4.18848 25.9067 4.18848C25.6308 4.18848 25.3576 4.2431 25.103 4.3492C24.8483 4.4553 24.6171 4.61077 24.4229 4.80665L8.31002 21.2957C7.92013 21.6887 7.6122 22.1553 7.40412 22.6683C7.19604 23.1813 7.09195 23.7306 7.0979 24.2842V41.7972C7.09628 42.8671 7.50495 43.8968 8.23975 44.6744C8.97454 45.4519 9.97953 45.9181 11.0477 45.977H17.5472V27.1682C17.5472 26.6139 17.7674 26.0824 18.1593 25.6904C18.5512 25.2985 19.0828 25.0783 19.6371 25.0783H32.1763C32.7305 25.0783 33.2621 25.2985 33.654 25.6904C34.0459 26.0824 34.2661 26.6139 34.2661 27.1682V45.977H40.7656C41.8338 45.9181 42.8388 45.4519 43.5736 44.6744C44.3084 43.8968 44.717 42.8671 44.7154 41.7972V24.2842C44.7171 23.1618 44.2825 22.0827 43.5033 21.2748Z" fill="#F08080"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 17 29" fill="none">
                        <path d="M2 2L14.3352 14.3352L2 26.6705" stroke="#F08080" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </li>
                <li>
                    <a href="/Order">발주관리</a>
                </li>
                <li> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 17 29" fill="none">
                        <path d="M2 2L14.3352 14.3352L2 26.6705" stroke="#F08080" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </li>
                <li>
                    <a href="/Order">발주관리</a>
                </li>
            </ul>
            <!--lnb -->
            <div id="sub_con_wrap">
                <div class="sub_con">
                    <div class="tit_box">
                        <h2 class="sub_tit">발주 관리</h2>
                    </div>
                    <!-- tit_box -->
                    <table id="table_reg">
                        <tr>
                            <th>발주일자</th>
                            <td>
                                <input type="date" class="btn_candle input_calendar" id='input_date1' name="inout_date1">
                                <span class="phonespan">~</span> 
                                <input type="date" class="btn_candle input_calendar" id='input_date2' name="inout_date2">
                            </td>
                            <th>납기일자</th>
                            <td>
                                <input type="date" class="btn_candle input_calendar" id='input_date3' name="inout_date3"> 
                                <span class="phonespan">~</span> 
                                <input type="date" class="btn_candle input_calendar" id='input_date4' name="inout_date4">
                            </td>	
                        </tr>
                    </table>
                    <div class="search_pc">
                        <input type="text" id="search_po_p" name="search_key" placeholder="발주일자 선택 + 발주번호입력">
                        <span><button type="button" class="btn_search">조회</button></span>
                    </div>
                    <!-- search_pc -->
                    <table id="table" class="result_table">
                        <thead>
                            <tr>
                                <th style="width: 100px;"><input type="checkbox" name="chk_all"></th>
                                <th style="width: 200px;">발주번호</th>
                                <th  style="width: 200px;">사업자등록번호</th>
                                <th  style="width: 200px;">재료번호</th>
                                <th  style="width: 200px;">원부재료명</th>
                                <th style="width: 200px;" >발주일자</th>
                                <th  style="width: 200px;">납기일자</th>
                                <th style="width: 200px;">발주수량</th>
                                <th style="width: 200px;">바코드</th>
                               <!-- <th  style="display: none;">협력업체</th>-->
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr  id="buy" th:each="buy : ${list}">
                                <td>
                                    <input type='checkbox' class="sno" name='s_no'>
                                </td>
                                <td class="buyNo">[[${buy.buyNo}]]</td>
                                <td>[[${buy.companyNo}]]</td>
                                <td>[[${buy.materialNo}]]</td>
                                <td>[[${buy.materioalName}]]</td>
                                <td>[[${buy.dateOrder}]]</td>
                                <td>[[${buy.dateReceived}]]</td>
                                <td>[[${buy.materioalAmount}]]</td>
                                <td><svg></svg></td>
                               <!-- <td style="display: none;">[[${buy.buyName}]]</td>-->
                            </tr>
                        </tbody>
                    </table>
                    <div class="bot_box">
                        <div class="bot_btn">
                            <div class="btn delete" title="선택삭제">선택삭제</div>
                        		<div class="bot_edit" title="왼쪽">
                            		<div class="btn btn_right" title="등록" onclick="location.href='/OrderRegister'">등록</div>
									 	<div class="btn edit" title="수정" >수정</div>                           	
                        		</div>
                        </div>
                        <!-- bot_btn -->
                    </div>
                    <!-- bot_box -->
                </div>
                <!--con-->
            </div>
        </div>
        <!--content-->
    </div>
   </div>
</body>
</html>
