<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>출하 등록</title>
	<link rel="stylesheet" href="common/global.css">
	<link rel="stylesheet" href="common/header.css">
	<link rel="stylesheet" href="consignmentmanagement/addproductconsignment.css">
</head>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	//수주번호입력후 조회버튼 클릭시 실행될 함수
	$(function () {
		$('#openorderlist').click(function () {
			let obtainordersearch = $("#Obtainorder_search").val();
			$.ajax({
				url: '/AddProductConsignment/Obtainordersearch',
				//data:{a:b} a는 컨트롤러와 동일해야함 b는 파라미터명
				data: {obtainordersearch: obtainordersearch}, // 수정: 데이터를 객체 형태로 보냅니다.
				type: 'post',
				dataType: 'json',
				success: function (response) {
					console.log(obtainordersearch);
					console.log(response);
					if (response) {
						// 서버에서 반환된 데이터를 사용하여 HTML 요소에 값을 설정합니다.
						$("#dateOrder").val(response.dateOrder);
						$("#dateToArrive").val(response.dateToArrive);
						$("#cNum").val(response.cNum);
						$("#address").val(response.address);
						$("#pNum").val(response.pNum);
						$("#sAmount").val(response.sAmount);
					} else {
						alert("존재하지 않는 수주번호입니다.");

					}
				},
				error: function (xhr, status, error) {
					console.log(error);
					alert("수주번호로 조회가 가능합니다.");

				}
			});
		});
		//btn_search 클릭시 실행될 함수(기사 검색)
		$('#btn_search').click(function () {
			//controller에서 선언한 kind값은 html의 kind /search동일
			let data = {
				kind: $("#kind").val(),
				search: $("#search").val()
			}
			console.log(data);
			$.ajax({
				url: '/AddProductConsignment/driverlist',
				data: data,
				type: 'post',
				dataType: 'json',
				success: function (r) {
					console.log(r);
					var tag = "";

					if (r.length === 0) {
						tag = "<tr><td colspan=2'>등록된 기사정보가 없습니다.<td></tr>";
						$('#driver_data').html(tag);
					} else {

						for (let i = 0; i < r.length; i++) {
							tag += `<tr>`;
							tag += `<td class="driver">${r[i].dNum}</td>`;
							tag += `<td>${r[i].dContact}</td>`;
							tag += `</tr>`;
						}
						console.log(tag)
						$('#driver_data').html(tag);

						//td 코드 클릭시 해당 값이 기사번호에 기록
						$('#driver_data tr').on('click', function () {
							// 클릭된 td 요소에서 dNum 값을 가져옴
							// td리스트를 tr로 선택될 수 있게 해서 해당 값 클릭될 수 있도록함
							let dNumValue = $(this).children().first().text();

							// 검색 input에 클릭한 td 값을 자동으로 입력
							$(".driverCode").val(dNumValue);
							console.log(dNumValue);

							// driverpopBg를 숨깁니다.
							$(".driverpopBg").hide();
						});
					}
				}
			})
		})
		//기사 조회버튼 클릭시 기사리스트 보여지도록 처리
		$('#opendriverlist').click(function () {
			$.ajax({
				url: '/AddProductConsignment/driverlist',
				type: 'post',
				dataType: 'json',
				success: function (r) {
					console.log(r);
					var tag = "";

					if (r.length === 0) {
						tag = "<tr><td colspan=2'>등록된 기사정보가 없습니다.<td></tr>";
						$('#driver_data').html(tag);
					} else {

						for (let i = 0; i < r.length; i++) {
							tag += `<tr>`;
							tag += `<td class="driver";>${r[i].dNum}</td>`;
							tag += `<td>${r[i].dContact}</td>`;
							tag += `</tr>`;
						}
						console.log(tag)
						$('#driver_data').html(tag);

						//td 코드 클릭시 해당 값이 기사번호에 기록
						$('#driver_data tr').on('click', function () {
							// 클릭된 td 요소에서 dNum 값을 가져옴
							// td리스트를 tr로 선택될 수 있게 해서 해당 값 클릭될 수 있도록함
							let dNumValue = $(this).children().first().text();

							// 검색 input에 클릭한 td 값을 자동으로 입력
							$(".driverCode").val(dNumValue);
							console.log(dNumValue);

							// driverpopBg를 숨깁니다.
							$(".driverpopBg").hide();
						});
					}
				}
			})
		})
		//데이터 전송
		$('.add_consignment').submit(function (e) {
			//add.preventDefault();
			var sNum = $("#sNum").val();
			var dateOrder = $("#dateOrder").val();
			var dateToArrive = $("#dateToArrive").val();
			var cNum = $("#cNum").val();
			var address = $("#address").val();
			var pNum = $("#pNum").val();
			var sAmount = $("#sAmount").val();
			var dateStartShip = $("#dateStartShip").val();
			var shipAmount = $("#shipAmount").val();
			var dNum = $("#dNum").val();
			//var shipNum 컨트롤러에서 랜덤생성
			if (sNum === '') {
				alert('수주번호를 입력해주세요.');
				e.preventDefault();
				return;
			}
			if (dateStartShip === '') {
				alert('출하 시작일을 입력해주세요.');
				e.preventDefault();
				return;
			}

			if (shipAmount === '') {
				alert('출하 수량을 입력해주세요.');
				e.preventDefault();
				return;
			}
			
			if (parseInt(shipAmount) > parseInt(sAmount)) {
				alert('출하 수량은 요청수량을 초과할 수 없습니다.');
				e.preventDefault();
				return;
			}
			if (dNum === '') {
				alert('기사코드가 입력되지 않았습니다.');
				e.preventDefault();
				return;
			}
		})


	});


	function opendriverpopUp() {
		$(".driverpopBg").show();
	}
	function closedriverpopUp() {
		$(".driverpopBg").hide();
	}
</script>

<body>
	<th:block th:insert="header/header.html"></th:block>
	<!-- 출하등록 -->
	<div id="addaddproduct_container" class="addproduct">
		<ul class="menu1" style="width: 500px;">
			<li>
				<a href="#">
					<img src="img/home.png" width="40" height="40" viewBox="0 0 51 51">
				</a>
			</li>
			<div style="margin-top: 15px;" width="300px" id="menu2">
				<li>
					<img src="img/arrow_right_pink.png" width="12" height="20" viewBox="0 0 17 29">
				</li>
				<li>
					<h4>출하 관리</h4>
				</li>
				<li>
					<img src="img/arrow_right_pink.png" width="12" height="20" viewBox="0 0 17 29">
				</li>
				<li>
					<h4>출하 등록</h4>
				</li>
			</div>
		</ul>
		<br />
		<br />
		<br />
		<h3>출하 등록</h3>
		<!--form으로 전달할 데이터들은 name으로 전달된다. id는 if나 다른 작업수행할때 편리하기 위해 작성-->
		<form class="add_consignment" action="/AddProductConsignment/action" method="post">
			<div id="table_div">
				<table id="table1">
					<tr>
						<th>수주 번호<span style="color: red">*</span></th>
						<td colspan="3"><input type="text" id="Obtainorder_search" th:value="${sNum}" name="sNum" />
							<button type="button" id="openorderlist">조회</button>
							<p style="float: right;"><span style="color: red">*</span>수주번호 조회시 자동으로 입력됩니다.</p>
						</td>
					</tr>
					<tr>
						<th>접수일자<span style="color: red">*</span></th>
						<td><input type="text" readonly th:value="${dateOrder}" id="dateOrder" name="dateOrder" /></td>
						<th>납기일자<span style="color: red">*</span></th>
						<td><input type="text" readonly th:value="${dateToArrive}" id="dateToArrive"
								name="dateToArrive" /></td>
					</tr>
					<tr>
						<th>사업자번호<span style="color: red">*</span></th>
						<td>
							<input type="text" readonly th:value="${cNum}" id="cNum" name="cNum" />
						</td>
						<th>주소<span style="color: red">*</span></th>
						<td><input type="text" readonly th:value="${address}" id="address" style="width: 300px;"
								name="address"></td>
					</tr>
				</table>
				<br />
				<table id="table2">
					<thead>
						<tr>
							<th style="width: 350px;">품목 번호<span style="color: red">*</span></th>
							<th style="width: 100px;">요청 수량<span style="color: red">*</span></th>
							<th>출하 시작일</th>
							<th style="width: 100px;">출하 수량</th>
							<th>기사 번호</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input type="text" readonly th:value="${pNum}" id="pNum" name="pNum" />
							</td>
							<td>
								<input type="text" readonly th:value="${sAmount}" id="sAmount" name="sAmount" />개
							</td>
							<td>
								<input type="date" id="dateStartShip" name="dateStartShip" />
							</td>
							<td>
								<input type="text" placeholder="0" id="shipAmount" name="shipAmount" />개
							</td>
							<td>
								<input type="text" placeholder="기사 번호 조회" readonly class="driverCode" th:value="${dNum}"
									id="dNum" name="dNum" />
								<button type="button" id="opendriverlist" onclick="opendriverpopUp()">조회</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div id="btn" style="float: right">
					<button id="btn_back"><a href="ConsignmentManagement" type="button">돌아가기</a></button>
					<button id="btn_add" onclick="btn_add()" type="submit">등록</button>
				</div>
			</div>
		</form>
	</div>
	<!--driverlist popup-->
	<div class="driverpopBg">
		<div class="driverpopcon" style="width: 300px;">
			<span class="close" onclick="closedriverpopUp()" style="width: 30px;">×</a></span>
			<br>
			<h3>기사 리스트</h3>
			<div>
				<select id="kind">
					<option value="d_num">기사 번호</option>
					<option value="d_contact">연락처</option>
				</select>
				<input type="text" placeholder="검색" style="width: 150px;" id="search">
				<button type="button" id="btn_search">검색</button>
			</div>
			<br>
			<br>
			<table id="driver_list">
				<thead>
					<th style="width: 100px">기사 번호</th>
					<th style="width: 200px">기사 연락처</th>
				</thead>
				<tbody id="driver_data">
					<!--td값은 ajax로 받아오기에 비워둬도 상관x-->
				</tbody>
			</table>
		</div>
	</div>
	<!--	<button id="close">닫기</button>-->
	</div>
</body>

</html>