<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="common/global.css" />
	<link rel="stylesheet" href="common/header.css" />
	<link rel="stylesheet" href="consignmentmanagement/productmanagement.css" />
	<title>출하 현황</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/JsBarcode.code128.min.js"></script>
<script src="js/bxlcommon.js"></script>
<script src="js/bxllabel.js"></script>
<style>
	.page_bar {
		text-align: center;
		padding: 5px;
	}

	.page_bar a {
		font-size: 18px;
		/* 폰트 크기 조정 */
		text-decoration: none;
		color: #f08080;
	}

	.page_bar a.active {
		font-weight: bold;
		color: rgb(213, 26, 26);
	}
</style>
<script>
	//li 클릭시 색상 변경
	document.addEventListener("DOMContentLoaded", function () {
		// #category 아래의 ul 요소에서 li 항목 가져옴.
		var listItems = document.querySelectorAll("#category > ul li");
		// 각 항목에 클릭 이벤트 추가.
		listItems.forEach(function (item) {
			item.addEventListener("click", function () {
				// 클릭 전 기본 CSS
				listItems.forEach(function (li) {
					li.classList.remove("clicked");
				});
				// 클릭하면  .clicked CSS 적용
				this.classList.add("clicked");
			});
		});
	});

	// 상단 체크 박스 클릭 시 아래 체크 박스 전체 선택 또는 해제
	function AllCheckboxes() {
		var checkboxes = document.querySelectorAll('table input[type="checkbox"]');
		var masterCheckbox = document.getElementById('all_check');

		checkboxes.forEach(function (checkbox) {
			checkbox.checked = masterCheckbox.checked;
		});
	}
	// 모든 행 숨기기
	function hideAllRows() {
		var rows = document.querySelectorAll("#table2 tbody tr");
		rows.forEach(function (row) {
			row.style.display = "none";
		});
	}

	// 특정 상태 값에 따라 행 표시
	function showRowsByStatus(statuses, pageNo) {
		var rows = document.querySelectorAll("#table2 tbody tr");
		rows.forEach(function (row) {
			var sPhaseCell = row.querySelector("td:nth-child(12)");
			var sPhaseValue = parseInt(sPhaseCell.textContent);

			// OR 조건: 전달된 상태 값 중 하나라도 만족하는 경우 표시
			if (statuses.includes(sPhaseValue)) {
				row.style.display = ""; // 행을 표시
			}
		});
	}

	//출하 현황에 따라 버튼 텍스트 다르게
	function BtnConsignment(sPhase) {
		//태그 넣어서 속성 부여 가능
		switch (Number(sPhase)) {
			case 0:
				return '<button id="btn_waiting" onclick="waitingPage()"><span hidden>0</span>출고 대기</button>';
			case 1:
				return '<button id="btn_proceeding" onclick="completedPage()"><span hidden>1</span>출하 중</button>';
			case 2:
				return '<button id="btn_completed" onclick="completedPage()"><span hidden>2</span>출하 완료</button>';
			default:
				return "";
		}
	}
	//전체 현황 조회
	function all_consignment() {
		hideAllRows();
		showRowsByStatus([0, 1, 2]);
	}

	// 출고 대기 조회
	function waiting() {
		// 모든 행 숨기기
		hideAllRows();
		showRowsByStatus([0]); // 0 = 출고 대기
	}

	// 출하 중 조회
	function proceeding() {
		// 모든 행 숨기기
		hideAllRows();
		showRowsByStatus([1]); // 1 = 출하 중
	}

	// 출하 완료 조회
	function completed() {
		// 모든 행 숨기기
		hideAllRows();
		showRowsByStatus([2]); // 2 = 출하 완료
	}

	//바코드 생성 함수
	function printAllBarcode() {
		//consignment_data class의 tr 지정
		let row = $(".consignment_data tr");

		$(row).each(function (idx, obj) {
			//tr의 자녀 속성인 td중 1번째인 출하코드 선택
			console.log($(obj).children("td").eq(1).text());
			let barcodeValue = $(obj).children("td").eq(1).text();
			//td중 마지막 속성의 자녀 속성인 svg에 0번째 선택
			JsBarcode($(obj).children("td").last().children("svg")[0], barcodeValue, {
				//바코드 크기
				format: "CODE128", width: 1,
				height: 20
			});
		});
	}
	//바코드 출력 함수
	var issueID = 1;
	var printer_name = 'Printer1';

	function viewResult(result) {
		console.log(result);
	}

	function PrintBarcode(row) {
		console.log(row);
		//return
		var barCodeSymbol = 1;
		var barCodeHeight = 100;
		var barWidth = 4;
		var nBarWidth = parseInt(barWidth / 2);
		var barCodeHri = 1;

		setLabelId(issueID);

		checkLabelStatus();
		clearBuffer();

		setWidth(576);

		drawDeviceFont("출하 정보", 30, 10, 'b', 1, 1, 0, 0, 1, 0);
		drawBlock(30, 40, 530, 45, 'B', 5);
		drawDeviceFont(`출하 코드 : ${$(row).eq(1).text()}`, 30, 50, 'd', 1, 1, 0, 0, 0, 0);
		drawDeviceFont(`사업자 번호 : ${$(row).eq(4).text()}`, 30, 90, 'd', 1, 1, 0, 0, 0, 0);
		drawDeviceFont(`품목 번호 : ${$(row).eq(5).text()}`, 30, 130, 'd', 1, 1, 0, 0, 0, 0);
		drawDeviceFont(`출하 일정 : ${$(row).eq(6).text()}`, 30, 170, 'd', 1, 1, 0, 0, 0, 0);
		drawDeviceFont(`요청 수량 : ${$(row).eq(7).text()}`, 30, 210, 'd', 1, 1, 0, 0, 0, 0);
		drawDeviceFont(`출하 수량 : ${$(row).eq(8).text()}`, 30, 250, 'd', 1, 1, 0, 0, 0, 0);
		drawDeviceFont(`기사 번호 : ${$(row).eq(10).text()}`, 30, 290, 'd', 1, 1, 0, 0, 0, 0);
		//x,y,x,y 좌하단 우하단,글꼴,두께
		drawBlock(30, 320, 530, 325, 'B', 5);
		draw1DBarcode($(row).eq(1).text(), 70, 350, barCodeSymbol, nBarWidth, barWidth, barCodeHeight, 0, barCodeHri);
		printBuffer();

		var strSubmit = getLabelData();

		console.log(strSubmit);

		issueID++;
		console.log(strSubmit, viewResult);
		requestPrint(printer_name, strSubmit, viewResult);

	}


	$(function () {
		//바코드 찍으면 자동으로 엔터값 입력
		$("#cnumSearch").keyup(function (e) {
			console.log(e.keyCode)
			if (e.keyCode == 13)
				e.preventDefault();
			$('#search_date').click();
		});
		//바코드 클릭했을 때 바코드 출력시키는 기능
		$("svg").click(function () {
			let row = $(this).parent().parent().children("td");
			PrintBarcode(row);
		});
		//출하날자 검색 + 수주번호 검색
		$('#search_date').click(function () {
			let startDate = $('#consignmentdate1').val();
			let endDate = $('#consignmentdate2').val();
			let kind = $('#kind').val();
			let data = {
				startDate: startDate,
				endDate: endDate,
				kind: kind,
				cnumSearch: $("#cnumSearch").val()
			};
			$.ajax({
				url: 'ConsignmentManagement/search',
				data: data,
				type: 'post',
				dataType: 'json',
				success: function (r) {
					console.log(r);
					var tag = "";
					if (r.length === 0) {
						alert("일치하는 정보가 없습니다.");
						window.location.reload();
						//tag = "<tr><td colspan='12'>일치하는 정보가 없습니다.</td></tr>";
						//$('.consignment_data').html(tag);
						//console.log(sPhase);
					} else {
						for (let i = 0; i < r.length; i++) {
							tag += `<tr>`;
							tag += `<td><input type="checkbox" name="check_no" style="width: 12px;" height="12px"></td>`;
							tag += `<td>${r[i].shipNum}</td>`;
							tag += `<td>${r[i].dateOrder}</td>`;
							tag += `<td>${r[i].dateToArrive}</td>`;
							tag += `<td>${r[i].cNum}</td>`;
							tag += `<td>${r[i].pNum}</td>`;
							tag += `<td>${r[i].dateStartShip}</td>`;
							tag += `<td>${r[i].sAmount}</td>`;
							tag += `<td>${r[i].shipAmount}</td>`;
							tag += `<td>${r[i].sNum}</td>`;
							tag += `<td>${r[i].dNum}</td>`;
							tag += `<td>${BtnConsignment(r[i].sPhase)}</td>`;
							tag += `<td><svg></svg></td>`;
							tag += `</tr>`;
						}
						$('.consignment_data').html(tag);

						printAllBarcode();
						console.log(printAllBarcode());
						$("svg").click(function () {
							let row = $(this).parent().parent().children("td");
							PrintBarcode(row);
						});
					}
				}
			});
		});
		printAllBarcode();

		//선택삭제
		$('#btn_delete').click(function () {
			var selectedItems = $('input[name="check_no"]:checked');
			if (selectedItems.length === 0) {
				alert('삭제할 항목을 선택하세요.');
			} else {
				if (confirm('선택한 항목을 삭제하시겠습니까?')) {
					console.log(selectedItems);
					selectedItems.each(function () {
						var shipNum = $(this).closest('tr').find('td:nth-child(2)').text();
						console.log(shipNum);
						$.ajax({
							url: '/ConsignmentManagement/delete/' + shipNum,
							type: 'post',
							success: function (response) {
								console.log(response)
								if (response) {
									alert('선택항목을 삭제했습니다.');
									$(this).closest('tr').remove();
									location.reload();
								} else {
									alert('삭제하지 못했습니다.');
								}
							},
							error: function () {
								alert('서버연결 실패');
							}
						});
					});
				}
			}
		});
	});
	//출고요청 페이지 이동
	function waitingPage() {
		window.location.href = '/RequstRelease';
	}
	//출하 요청페이지 이동
	function completedPage() {
		window.location.href = '/RequstConsignment';

	}

</script>

<body>
	<th:block th:insert="header/header.html"></th:block>
	<div id="consignmemtmanagement" class="managment">
		<ul class="menu1" style="width: 500px;">
			<li>
				<a href="/main.html">
					<img src="img/home.png" width="40" height="40" viewBox="0 0 51 51">
				</a>
			</li>
			<div style="margin-top: 15px;" width="300px" id="menu2">
				<li>
					<img src="img/arrow_right_pink.png" width="12" height="20" viewBox="0 0 17 29">
				</li>
				<li>
					<h4>출하 관리</h4>
				</li>
				<li>
					<img src="img/arrow_right_pink.png" width="12" height="20" viewBox="0 0 17 29">
				</li>
				<li>
					<h4>출하지시 관리</h4>
				</li>
			</div>
		</ul>
		<br />
		<br />
		<br />
		<h3>출하관리 현황</h3>
		<p>
			<span>[[${allcount}]]</span>
			개의 데이터가 조회되었습니다.
		</p>
		<table id="table1">
			<tr>
				<th>출하 일자</th>
				<td><input type="date" id="consignmentdate1" /> ~ <input type="date" id="consignmentdate2" /></td>
				<th>납기 일자</th>
				<td><input type="date" /> ~ <input type="date" /></td>
			</tr>
		</table>
		<div id="category" class="category">
			<ul>
				<li onclick="all_consignment()">전체([[${allcount}]])</li>
				<li onclick="waiting()" style="width: 100px;">출고 대기([[${waitingcount}]])</li>
				<li onclick="proceeding()" style="width: 100px;">출하 중([[${proceedingcount}]])</li>
				<li onclick="completed()" style="width: 100px;">출하 완료([[${completedcount}]])</li>
			</ul>
			<div id="search" style="float: right">
				<select id="kind">
					<option value="ship_num">출하 코드</option>
					<option value="c_num">사업자 번호</option>
				</select>
				<input type="text" placeholder="출하코드 혹은 사업자번호 조회" id="cnumSearch" />
				<button id="search_date">조회</button>
			</div>
		</div>
		<br />
		<br />
		<table id="table2" class="consignmentlist">
			<thead>
				<th style="width: 25px;"><input type="checkbox" id="all_check" onchange="AllCheckboxes()" /></th>
				<th style="width: 80px;">출하 코드</th>
				<th style="width: 115px;">접수 일자</th>
				<th style="width: 115px;">납기 일자</th>
				<th style="width: 115px;">사업자번호</th>
				<th style="width: 100px;">품목 번호</th>
				<th style="width: 115px;">출하 일정</th>
				<th style="width: 80px;">요청 수량</th>
				<th style="width: 80px;">출하 수량</th>
				<th style="width: 80px;">수주 번호</th>
				<th>기사 번호</th>
				<th>출하 현황</th>
				<th>바코드</th>
			</thead>
			<tbody class="consignment_data">
				<!-- 리스트 정보 받아오기 -->
				<tr th:each="consignmentlist : ${all_consignmentlist}">
					<td><input type="checkbox" name="check_no" style="width: 12px;" height="12px" /></td>
					<td>[[${consignmentlist.shipNum}]]</td>
					<td>[[${consignmentlist.dateOrder}]]</td>
					<td>[[${consignmentlist.dateToArrive}]]</td>
					<td>[[${consignmentlist.cNum}]]</td>
					<td>[[${consignmentlist.pNum}]]</td>
					<td>[[${consignmentlist.dateStartShip}]]</td>
					<td>[[${consignmentlist.sAmount}]]</td>
					<td>[[${consignmentlist.shipAmount}]]</td>
					<td>[[${consignmentlist.sNum}]]</td>
					<td>[[${consignmentlist.dNum}]]</td>
					<td th:switch="${consignmentlist.sPhase}">
						<button th:case="0" id="btn_waiting" onclick="waitingPage()"><span hidden>0</span>출고 대기</button>
						<button th:case="1" id="btn_proceeding" onclick="completedPage()"><span hidden>1</span>출하
							중</button>
						<button th:case="2" id="btn_completed" onclick="completedPage()"><span hidden>2</span>출하
							완료</button>
					</td>
					<td><svg></svg></td>
				</tr>
				<tr>
					<td colspan="13">
						<div class="page_bar">
							<a th:if="${paging.previousPageGroup}"
								th:href="@{ConsignmentManagement(pageNo=${paging.startPageOfPageGroup - 1 })}">◀</a>

							<th:block
								th:each="i : ${#numbers.sequence(paging.startPageOfPageGroup, paging.endPageOfPageGroup)}">
								<a th:href="@{ConsignmentManagement(pageNo=${i})}"
									th:classappend="${i == paging.currentPageNo} ? 'active'">[[${i}]]</a>
							</th:block>
							<a th:if="${paging.nextPageGroup}"
								th:href="@{ConsignmentManagement(pageNo=${paging.endPageOfPageGroup + 1 })}">▶</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div id="btn">
			<button type="button" id="btn_delete" style="float: left">선택 삭제</button>
			<button id="btn_add" style="float: right"><a href="AddProductConsignment">등록</a></button>
		</div>
	</div>
</body>

</html>