#addaddproduct_container {
	width: 1250px;
	margin: 0 auto;
	margin-top: 20px;
	height: auto;
}

/* .menu > li{
  padding-left: 10px;
} */
#menu2>li {
	padding-left: 10px;
}

/*#search {
	float: right;
}*/

#btn_search{
	color: #fff;
	width: 50px;
	height: 20px;
	background-color: #f08080;
	text-align: center;
	border: 1px solid #929292;
	border-radius: 3px;
}

#table1,
#table2 {
	border: 2px solid #242424;
	border-collapse: collapse;
	width: 1250px;
	margin: 8px;
}

th {
	border: 1px solid #242424;
	height: 30px;
	background-color: #fce6e6;
}

#table1>tbody>tr>td {
	border: 1px solid #242424;
	height: 30px;
}

#table1>tbody>tr>td>input {
	margin-left: 10px;
	font-size: 15px;
	width: 200px;
	height: 20px;
	border: 1px solid #cacaca;
}

#table1>tbody>tr>td>button {
	font-size: 15px;
	border-radius: 3px;
	width: 8%;
	height: 25px;
	border: 1px solid #929292;
	color: #fff;
	background-color: #f08080;
	text-align: center;
	margin-left: 3px;
}

textarea {
	margin-left: 10px;
	font-size: 14px;
	width: 76%;
	height: 20px;
	border-radius: 3px;
	border: 1px solid #cacaca;
	resize: none;
	margin: auto 1;
	display: block;
}

#table2>tbody {
	text-align: center;
}

#table2>tbody>tr>td {
	border: 1px solid #242424;
	height: 30px;
	margin: 0;
}

#table2>tbody>tr>td>input {
	font-size: 15px;
	width: 75%;
	height: 30px;
	border: 1px solid #cacaca;
	text-align: center;
}

#table2>tbody>tr>td>button {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 15px;
	border-radius: 3px;
	width: 60px;
	height: 30px;
	border: 1px solid #929292;
	color: #fff;
	background-color: #f08080;
	text-align: center;
}

#table2>tbody>button {
	width: 20px;
	height: 10px;
	background-color: #f08080;
}

#table2>input {
	width: 200px;
	height: 20px;
}

ul,
li {
	float: left;
	list-style: none;
}

#btn>button {
	color: #fff;
	width: 100px;
	height: 40px;
	background-color: #f08080;
	text-align: center;
	border: 1px solid #929292;
	border-radius: 3px;
}

#btn>button>a {
	text-decoration: none;
	color: #fff;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	width: 20px;
	height: 20px;
}



/*orderlist popup css*/
.orderpopBg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	/* 배경 어둡게 처리 */
}

.orderpopcon {
	background-color: #fff;
	width: 80%;
	max-width: 1100px;
	margin: 50px auto;
	padding: 20px;
	border-radius: 5px;
}

/* 닫기 버튼 스타일 */
.close {
	color: #888;
	float: right;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}

#orderlist {
	border: 1px solid #242424;
	border-collapse: collapse;
}

#order_list>thead>tr>th {
	border: 1px solid #242424;
}

#order_list>tbody>tr>td {
	border: 1px solid #242424;
}

#order_list>thead>tr>th {
	background-color: #fce6e6;
}

#order_list>tbody>tr>td {
	text-align: center;
}

/*driverlist popup css*/

.driverpopBg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	/* 배경 어둡게 처리 */
}

.driverpopcon {
	background-color: #fff;
	width: 80%;
	max-width: 1100px;
	margin: 50px auto;
	padding: 20px;
	border-radius: 5px;
}

#driver_list {
	border: 1px solid #242424;
	border-collapse: collapse;
}

#driver_list>thead>tr>th {
	border: 1px solid #242424;
	background-color: #fce6e6;
}

#driver_list>tbody>tr>td {
	border: 1px solid #242424;
	text-align: center;
}