<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<link rel="stylesheet" href="/mainpage/login.css">

			<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
</style>
</head>
<body>	
				<th><img src="/img/logo4.png" class="title"></th>			
	<div class="container">
			 <form action="/login" id="login-form" method="post">
		<table>
			<tr>
				<td id="id"><input type="text" id="insert_id" name="userId" class="id" placeholder="아이디를 입력하세요." ></td>
			</tr>
			<tr>
				<td id="pw"><input type="password" name="passwd" id="insert_passwd" class="pw" placeholder="비밀번호를 입력하세요."></td>
			</tr>
			<tr>
				<td><input type="checkbox" id="check_keep_login"><a class="txt_keep_login">로그인 상태 유지</a></td>
			</tr>
			<tr>
				<td><button type="submit" class="login" >로그인</button></td>
			</tr>
		</table>	
		</form>

	</div>

</body>
</html>