<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<link rel="stylesheet" href="/mainpage/mainpage.css">

	<th:block th:include="/header/header.html" ></th:block>
</head>
<body>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<div class="main"  >
	<a class="ch1" href="Order"><img src="/img/order.png"><br>발주관리</a>
	<a class="ch2" href="ObtainOrder"><img src="/img/obtain_order.png"><br>수주관리</a>
	<a class="ch3" href="kongjung_info"><img src="/img/process.png"><br>공정관리</a>
	<a class="ch4" href="PM"><img src="/img/production.png"><br>생산관리</a>
	<a class="ch5" href="/stock/material"><img src="/img/stock.png"><br>재고관리</a>
	<a class="ch6" href="ConsignmentManagement"><img src="/img/shipment.png"><br>출하관리</a>
	</div>
</body>
</html>