.container {
	

  width: 1280px;	
  text-align: center;
  margin: 15% auto;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 2px 8px rgb(149, 85, 255);
  border-radius: 5px;
  position: relative;
}

.warning {
	
  color: red;
}

.carNO_check{
	font-size: 30px;
	font-weight: bold;
}


img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

a img {
  width: 100px;
  height: auto;
  margin-top: 20px;
}

.kakaopay{
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding: 20px;

}

.btn_yes,
.btn_no {
  background-color: #9555FF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.btn_yes:hover,
.btn_no:hover {
  background-color: #BF9BFA;
}