.container {
	
  width: 1280px;	
  text-align: center;
  margin: 15% auto;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 2px 8px rgb(149, 85, 255);
  border-radius: 5px;
  
}



.success h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #9555FF;
}
.btn_home{

  background-color: #9555FF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  
}

.btn_home:hover{
  background-color: #BF9BFA;
}

