<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>완제품 수정</title>
	<link rel="stylesheet" href="/common/global.css" />
	<link rel="stylesheet" href="/stock/stock_update_product.css" />
</head>

<body>
	<th:block th:insert="header/header.html"></th:block>
	<div class="menu_container">
		<ul class="menu_bar">
			<li>
				<a href="/main.html">
					<img src="/img/home.png" width="40" height="40" viewBox="0 0 51 51">
				</a>
			</li>
			<div style="margin-top: 15px;" width="300px" id="menu">
				<li>
					<img src="/img/arrow_right_pink.png" width="12" height="20" viewBox="0 0 17 29">
				</li>
				<li>
					<h4>재고 관리</h4>
				</li>
				<li>
					<img src="/img/arrow_right_pink.png" width="12" height="20" viewBox="0 0 17 29">
				</li>
				<li>
					<h4>완제품 재고 수정</h4>
				</li>
			</div>
		</ul>
	</div>
	<div id="container">
		<h3>완제품 재고 수정</h3>
		<form action="/stock/product/update" enctype="multipart/form-data" method="post">
			<table class="addTable">
				<tr>
					<th>제품번호</th>
					<td>
						<input type="text" name="p_num" th:value="${ product.p_num}" hidden>
						<input type="text" th:value="${ product.p_num}" disabled>
					</td>
				</tr>
				<tr>
					<th>제품명</th>
					<td>
						<input type="text" name="p_name" th:value="${ product.p_name}">
					</td>
				</tr>
				<tr>
					<th>수량</th>
					<td>
						<input type="text" name="p_quantity" th:value="${ product.p_amount}">
					</td>
				</tr>
				<tr>
					<th>레시피 코드</th>
					<td>
						<input type="text" name="recipe_num" th:value="${ product.recipe_num}">
					</td>
				</tr>
				<tr id="btn">
					<td colspan="2" id="btn" style="text-align: right;">
						<a href="/stock/product" class="btn">취소</a>
						<button class="btn">작성</button>
					</td>
				</tr>
			</table>
		</form>
	</div>


</body>

</html>