<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/common/global.css" />
	<link rel="stylesheet" href="/stock/stock_product.css" />
	<title>완제품 재고 현황</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/JsBarcode.code128.min.js"></script>
<script src="/js/bxlcommon.js"></script>
<script src="/js/bxllabel.js"></script>
<script>
	function showBarcode() {
		let row = $(".tableContent tr");
		$(row).each(function (idx, obj) {
			let barcodeValue = $(obj).children("td").eq(0).text();
			$(obj).children("td").last();
			JsBarcode($(obj).children("td").last().children("svg")[0], barcodeValue, {
				format: "CODE128",
				width: 1.5,
				height: 30,
				displayValue: true
			})


		});
	}
	
	var issueID = 1;
	var printer_name = 'Printer1';

	function viewResult(result) {
		console.log(result);
	}

	function PrintBarcode(row) {
		console.log(row);
		var barCodeSymbol = 1;
		var barCodeHeight = 100;
		var barWidth = 4;
		var nBarWidth = parseInt(barWidth / 2);
		var barCodeHri = 1;

		setLabelId(issueID);

		checkLabelStatus();
		clearBuffer();
		
		setWidth(576);
		
		drawDeviceFont("제품 정보",30,10,'b',1,1,0,0,1,0);
		drawBlock(30,40,530,45,'B',5);
		
		drawDeviceFont(`제품번호 : ${$(row).eq(0).text()}`,30,50,'a',1,1,0,0,0,0);
		drawDeviceFont(`제품명 : ${$(row).eq(1).text()}`,30,70,'a',1,1,0,0,0,0);
		drawDeviceFont(`제품 수량 : ${$(row).eq(2).text()}`,30,90,'a',1,1,0,0,0,0);
		
		drawBlock(30,180,530,185,'B',5);
		draw1DBarcode($(row).eq(0).text(), 160, 200, barCodeSymbol, nBarWidth, barWidth, barCodeHeight, 0, barCodeHri);
		printBuffer();
		
		var strSubmit = getLabelData();

		console.log(strSubmit);

		issueID++;
		requestPrint(printer_name, strSubmit, viewResult);

	}
	
	function printCount(){
		let row = $(".tableContent tr").length;
		row += "개의 데이터가 조회되었습니다."
		$("#data").html(row)
	}

	function searchProduct() {
		let data = {
			search: $("#search_input").val()
		};

		$.ajax({
			url: '/stock/product/search',
			data: data,
			type: 'post',
			dataType: 'json',
			success: function (r) {
				console.log(r);
				var tag = "";

				if (r.length === 0) {
					tag = "<tr style='text-align:center';><td colspan='5'>일치하는 정보가 없습니다.</td></tr>";
					$('.tableContent').html(tag);
					$("#data").html("0개의 데이터가 조회되었습니다.");
				} else {
					for (let i = 0; i < r.length; i++) {
						tag += `<tr id="contents"> `
						tag += `<td id="chk_box"><input type="checkbox" name="chk" style="width: 15px;" height="15px" onclick="checkSelectAll(this)"/><span id="barcodeID" hidden>${r[i].p_num}</span></td>"`;

						tag += `<td><a th:href="@{/stock/product/updateView/{p_num}(p_num=${r[i].p_num})}">${r[i].p_name}</a></td>`;
						tag += `<td>${r[i].p_amount}</td>`;
						tag += `<td>${r[i].recipe_num}</td>`;
						tag += `<td style="text-align: center;"><svg></svg></td>`;
						tag += `</tr>`
					}


					$('.tableContent').html(tag);
					showBarcode();
					printCount();
				}
			}
		});
	}

	$(function () {
		printCount();
		$('#btn_search').click(searchProduct);

		showBarcode();

		$("#search_input").keyup(function (e) {
			if (e.keyCode == 13)
				searchProduct();
		});
		
		$("svg").click(function () {
			let row = $(this).parent().parent().children("td");
			PrintBarcode(row);
		});
		
		$('#btn_delete').click(function () {
			let select = $('input[name="chk"]:checked');
			console.log(select);
			if (select.length === 0) {
				alert('항목이 선택되지 않았습니다.');
			} else {
				if (confirm('삭제하시겠습니까?')) {
					select.each(function () {
						var pNum = $(this).parent().children("span").eq(0).text();
						console.log(pNum);
						$.ajax({
							url: '/stock/product/delete/' + pNum,
							type: 'post',
							dataType: 'json',
							success: function (r) {
								alert(r.message);
								window.location.href = window.location.href;
							},
							error: function (xhr, status, error) { // 오류를 확인하도록 수정
								console.error(error); // 콘솔에 오류 출력
								alert("오류 발생: " + error); // 사용자에게 오류 메시지 표시
							}
						});
					});
				} else {
					console.log("취소");
				}
			}
		});


	});




</script>

<body>
	<th:block th:insert="header/header.html"></th:block>
	<div class="menu_container">
		<ul class="menu_bar">
			<li>
				<a href="/main.html">
					<img src="/img/home.png" width="40" height="40" viewBox="0 0 51 51">
				</a>
			</li>
			<div style="margin-top: 15px;" width="300px" id="menu">
				<li>
					<img src="/img/arrow_right_pink.png" width="12" height="20" viewBox="0 0 17 29">
				</li>
				<li>
					<h4>재고 관리</h4>
				</li>
				<li>
					<img src="/img/arrow_right_pink.png" width="12" height="20" viewBox="0 0 17 29">
				</li>
				<li>
					<h4>완제품 재고 관리</h4>
				</li>
			</div>
		</ul>
	</div>
	<div id="container">
		<h3>완제품 재고 관리</h3>
		<p id="data">
			<!--<th:span>[[${count}]]</thspan>
				개의 데이터가 조회되었습니다.-->
		</p>

		<div id="search">
			<input type="text" id="search_input" placeholder="검색" />
			<button id="btn_search">검색</button>
		</div>
		<table id="table">
			<tr>
				<th style="width: 25px;"><input type="checkbox" id="all_check" onchange="selectAll(this)" /></th>
				<th style="width: 20%">제품명</th>
				<th>제품 수량</th>
				<th style="width: 20%">레시피 코드</th>
				<th style="width: 15%">바코드</th>
			</tr>
			<tbody class="tableContent">
				<tr th:each="p : ${list}" id="contents">
					<td id="chk_box"><input type="checkbox" name="chk" style="width: 15px;" height="15px"
							onclick="checkSelectAll(this)" /><span id="barcodeID" hidden>[[${ p.p_num}]]</span></td>
					<td><a th:href="@{/stock/product/updateView/{p_num}(p_num=${ p.p_num})}">[[${ p.p_name}]]</a></td>
					<td>[[${ p.p_amount}]]</td>
					<td>[[${ p.recipe_num}]]</td>
					<td style="text-align: center;"><svg></svg></td>
				</tr>
			</tbody>
		</table>
		<div id="btn">
			<button id="btn_delete" href="">선택 삭제</button>
			<a id="btn_add" href="/stock/product/add">등록</a>
		</div>
	</div>
</body>
<script>

	function checkSelectAll(checkbox) {
		const selectall = document.querySelector('#all_check');

		if (checkbox.checked === false) {
			selectall.checked = false;
		}
	}
	function selectAll(selectAll) {
		const checkboxes = document.getElementsByName('chk');

		checkboxes.forEach((checkbox) => {
			checkbox.checked = selectAll.checked;
		})
	}
</script>

</html>