<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.mapper.ConsignmentManagementMapper">
	<resultMap type="Consignment" id="Consignment">
		<id column="s_num" property="sNum" />
		<result column="date_order" property="dateOrder" />
		<result column="date_to_arrive" property="dateToArrive" />
		<result column="c_num" property="cNum" />
		<result column="address" property="address" />
		<result column="p_num" property="pNum" />
		<result column="s_amount" property="sAmount" />
		<result column="date_start_ship" property="dateStartShip" />
		<result column="ship_amount" property="shipAmount" />
		<result column="d_num" property="dNum" />
		<result column="ship_num" property="shipNum" />
		<result column="s_phase" property="sPhase" />
	</resultMap>
	<resultMap type="Driver" id="Driver">
		<id column="d_num" property="dNum" />
		<result column="d_contact" property="dContact" />
	</resultMap>

	<!-- 수주리스트 조회 -->
	<select id="obtainorderSearch" resultMap="Consignment"
		parameterType="String">
		select
		s.S_NUM , s.DATE_ORDER ,s.DATE_TO_ARRIVE , s.C_NUM
		, cs.ADDRESS , s.P_NUM ,
		s.S_AMOUNT
		from sell s, company_sell cs where
		s.C_NUM = cs.C_NUM and
		s.S_NUM=#{Obtainorder_search}
	</select>
	<!-- 출하전체리스트 조회 -->
	<select id="ConsignmentManagement" resultMap="Consignment"
		parameterType="int">
		SELECT
		sh.SHIP_NUM,s.DATE_ORDER ,s.DATE_TO_ARRIVE,s.C_NUM
		,s.P_NUM
		,sh.DATE_START_SHIP,s.S_AMOUNT ,sh.SHIP_AMOUNT,
		s.S_NUM
		,d.D_NUM,sh.S_PHASE
		FROM(
		SELECT ceil(rownum/10) as pageNo, SHIP_NUM,
		DATE_ORDER ,
		DATE_TO_ARRIVE,C_NUM ,P_NUM
		,DATE_START_SHIP,S_AMOUNT
		,SHIP_AMOUNT,
		S_NUM,D_NUM,S_PHASE FROM shipment)sh, SELL s , DRIVER d
		where d.D_NUM= sh.D_NUM AND s.S_NUM =sh.S_NUM AND pageNo=#{pageNo}
	</select>
	<select id="DriverList" resultMap="Driver" parameterType="Map">
		SELECT * FROM DRIVER where
		<!--choose 사용 -->
		<choose>
			<when test="kind.equals('dNum')">
				and dNum like '%' || #{search} || '%'
			</when>
			<when test="kind.equals('dContact')">
				and dContact like '%' || #{search} || '%'
			</when>
			<otherwise>
				${kind} like '%'||#{search}||'%'
			</otherwise>
		</choose>
	</select>
	<select id="AllConsignment" parameterType="Map" resultType="int">
		SELECT COUNT(*) FROM SHIPMENT sh, SELL s where s.S_NUM =sh.S_NUM
	</select>
	<select id="WaitingCount" parameterType="Map" resultType="int">
		SELECT
		COUNT(*) FROM SHIPMENT sh,SELL s WHERE s.S_NUM =sh.S_NUM AND
		sh.S_PHASE = 0
	</select>
	<select id="ProdeedingCount" parameterType="Map"
		resultType="int">
		SELECT COUNT(*) FROM SHIPMENT sh,SELL s WHERE s.S_NUM
		=sh.S_NUM AND sh.S_PHASE = 1
	</select>
	<select id="CompletedCount" parameterType="Map" resultType="int">
		SELECT COUNT(*) FROM SHIPMENT sh,SELL s WHERE s.S_NUM =sh.S_NUM AND
		sh.S_PHASE = 2
	</select>
	<!-- 날자 조회 -->
	<select id="searchconsignmentdate" parameterType="Map"
		resultMap="Consignment">
		SELECT
		sh.SHIP_NUM,s.DATE_ORDER ,s.DATE_TO_ARRIVE,s.C_NUM
		,s.P_NUM
		,sh.DATE_START_SHIP,s.S_AMOUNT ,sh.SHIP_AMOUNT,
		s.S_NUM
		,d.D_NUM,sh.S_PHASE FROM SELL s , DRIVER d, SHIPMENT sh where d.D_NUM
		= sh.D_NUM AND s.S_NUM =sh.S_NUM
		AND
		sh.date_start_ship BETWEEN
		#{startDate} AND #{endDate}
		AND
		s.C_NUM LIKE '%' || #{cnumSearch} || '%'
	</select>
	<!-- 수주번호 조회 -->
	<select id="searchCnum" parameterType="Map"
		resultMap="Consignment">
		SELECT
		sh.SHIP_NUM,s.DATE_ORDER ,s.DATE_TO_ARRIVE,s.C_NUM
		,s.P_NUM
		,sh.DATE_START_SHIP,s.S_AMOUNT ,sh.SHIP_AMOUNT,
		s.S_NUM
		,d.D_NUM,sh.S_PHASE
		FROM SELL s , DRIVER d, SHIPMENT sh
		where
		<choose>
			<when test="kind.equals('ship_num')">
				d.D_NUM = sh.D_NUM AND s.S_NUM =sh.S_NUM AND
				sh.ship_num=#{cnumSearch}
			</when>
			<when test="kind.equals('c_num')">
				d.D_NUM= sh.D_NUM AND s.S_NUM =sh.S_NUM AND s.C_NUM
				LIKE '%' || #{cnumSearch} || '%'
			</when>
		</choose>
	</select>
	<!-- 선택 삭제 -->
	<delete id="deleteconsignment" parameterType="string">
		DELETE FROM
		SHIPMENT
		WHERE ship_num = #{shipNum}
	</delete>
	<!-- 출하 등록 데이터 전달 -->
	<insert id="insertconsignment" parameterType="Consignment">
		insert into
		SHIPMENT
		(ship_num,date_order,date_to_arrive,c_num,p_num,date_start_ship,s_amount,ship_amount,s_num,d_num,s_phase)
		values
		(#{shipNum},TO_DATE(#{dateOrder}, 'YYYY-MM-DD
		HH24:MI:SS'),TO_DATE(#{dateToArrive}, 'YYYY-MM-DD
		HH24:MI:SS'),#{cNum},#{pNum},TO_DATE(#{dateStartShip}, 'YYYY-MM-DD
		HH24:MI:SS'),#{sAmount},#{shipAmount},#{sNum},#{dNum},#{sPhase})
	</insert>
</mapper>







	 