<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<link rel="stylesheet" href="/production/ProductionModify.css" />
<link rel="stylesheet" href="/production/global.css" />
<th:block th:insert="/header/header.html"></th:block>
</head>
<body>
	<div class="pmContainer">
		<div class="top">
			<img src="/img/home.png">
			<img class="arrow" src="/img/arrow_right_pink.png">
			<a href="/PM">생산지시</a>
			<img class="arrow" src="/img/arrow_right_pink.png">
			<a href="/PMModify">생산지시관리수정</a>
		</div>
		
		<div class="top_title">
			<table>			
				<tr>
					<th>생산지시 수정</th>
				</tr>	
				
			</table>
		</div>
		
		<form action="/production/modify" method="post">
			<table class="Production_modify">
					<tr>						
						<td>제품명</td>
						<td colspan="3"><input type="text" name="productName"></td>
					</tr>
					<tr>
						<td>품목번호</td>
						<td><input type="text" name="pNum"></td>
						<td>지시번호</td>
						<td><input type="text" name="productionNum"></td>
					</tr>
					<tr>
						<td>고객업체</td>
						<td><input type="text" name="cNum"></td>
						<td>BOX생산수량</td>
						<td><input type="text" name="boxCount"></td>
					</tr>
					<tr>
						<td>생산등록일</td>
						<td><input class="date1" type="date" name="dateRegister"></td>
						
						<td>생산종료일</td>
						<td><input class="date1" type="date" name="dateFinish"></td>
					</tr>
					<tr>
						<td>생산수량</td>
						<td><input type="text" name="amount"></td>
						<td>가격</td>
						<td><input type="text" name="price"></td>
					</tr>
					<tr>
						<td>생산상태</td>
						<td colspan="3">
							<select class="phase" name="phase">
								<option value="1">생산대기</option>
								<option value="2">생산중</option>
								<option value="3">생산완료</option>
							</select>
						</td>
					</tr>													
			</table>
			<div class="button-container">
			<button class="previous_btn">이전</button>
			<button class="complete_btn">확인</button>
			</div>
		</form>
	</div>
</body>
</html>