<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/obtainorder/production_info_modi.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<script>
	$(function () {
		$('.btn_cancel').click(function () {
			window.location.href = "/ProductionInfo";
		});
	});
</script>

<body>
	<th:block th:insert="header/header.html"></th:block>
	<div class="All">
		<div class="obtainheader">
			<a href="/mainpage">
				<img src="/img/home.png" alt="" class="source" id="home">
			</a>
			<img src="/img/arrow_right_pink.png" alt="" class="source" id="arrow">
			<a href="/ProductionInfo" class="source" id="headText">수주관리</a>
			<img src="/img/arrow_right_pink.png" alt="" class="source" id="arrow">
			<a href="/ProductionInfo" class="source" id="headText">제품정보</a>
		</div>
		<h2>제품정보 정보 수정</h2>
		<form method="post" action="/production/update">
			<table class="production_form">
				<tr>
					<td class="thead">제품번호<span class="red">*</span></td>
					<td class="check">
						<input type="text" class="inputtext" id="production_num" name="pNum" th:if="${sell != null}"
							th:value="${sell.pNum}" readonly>
					</td>
				</tr>
				<tr>
					<td class="thead">제품명<span class="red">*</span></td>
					<td><input type="text" class="inputtext" id="production_name" name="pName"
							th:value="${sell.pName }"></td>
				</tr>
				<tr>
					<td class="thead">규격</td>
					<td>
						<select class="box_unit" name="unit">
							<option th:selected="${sell.unit.toString() == 'BOX'}" value="BOX">BOX</option>
							<option th:selected="${sell.unit.toString() == 'STYROFOAM'}" value="STYROFOAM">스티로폼</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="thead">사이즈</td>
					<td>
						<select class="box_unit" name="pSize">
							<option th:selected="${sell.pSize.toString() == '200x200'}">200x200</option>
							<option th:selected="${sell.pSize.toString() == '200x250'}">200x250</option>
							<option th:selected="${sell.pSize.toString() == '200x300'}">200x300</option>
							<option th:selected="${sell.pSize.toString() == '250x300'}">250x300</option>
							<option th:selected="${sell.pSize.toString() == '300x300'}">300x300</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="thead">개수</td>
					<td><input type="text" class="inputtext" id="production_name" name="pAmount"
							th:value="${sell.pAmount }"></td>
				</tr>
				<tr>
					<td class="thead">BOX당 수량<span class="red">*</span></td>
					<td><input type="text" class="inputtext" id="business_registration_num" name="boxCount"
							th:value="${sell.boxCount }"></td>
				</tr>
				<tr>
					<td class="thead">포장지당 중량(단위)</td>
					<td>
						<input type="text" class="inputtext" id="wrap" name="pWeight">
						<select name="pWeight_1" id="wrap_unit">
							<option th:selected="${sell.unit.toString() == 'kg'}">kg</option>
							<option th:selected="${sell.unit.toString() == 'g'}">g</option>
							<option th:selected="${sell.unit.toString() == 'mg'}">mg</option>
							<option th:selected="${sell.unit.toString() == 'L'}">L</option>
							<option th:selected="${sell.unit.toString() == 'ml'}">ml</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="thead">가격</td>
					<td>
						<input type="text" class="inputtext" id="price" name="pPrice" th:value="${sell.pPrice }">
						<span class="ex">※쉼표 제외</span>
					</td>
				</tr>
				<tr>
					<td class="thead">유통기한<span class="red">*</span></td>
					<td>
						<input type="text" class="input_business" id="expiration_date" name="pFinish"
							th:value="${sell.pFinish }">
						<span class="ex">※예시 : 2023-04-01 12:00:00 AM</span>
					</td>
				</tr>
				<tr>
					<td class="thead">레시피<span class="red">*</span></td>
					<td>
						<select class="box_unit" name="recipeNum">
							<option th:selected="${sell.unit.toString() == 'recipe1'}">recipe1</option>
							<option th:selected="${sell.unit.toString() == 'recipe2'}">recipe2</option>
							<option th:selected="${sell.unit.toString() == 'recipe3'}">recipe3</option>
							<option th:selected="${sell.unit.toString() == 'recipe4'}">recipe4</option>
							<option th:selected="${sell.unit.toString() == 'recipe5'}">recipe5</option>
							<option th:selected="${sell.unit.toString() == 'recipe6'}">recipe6</option>
							<option th:selected="${sell.unit.toString() == 'recipe7'}">recipe7</option>
							<option th:selected="${sell.unit.toString() == 'recipe8'}">recipe8</option>
							<option th:selected="${sell.unit.toString() == 'recipe9'}">recipe9</option>
							<option th:selected="${sell.unit.toString() == 'recipe10'}">recipe10</option>
							<option th:selected="${sell.unit.toString() == 'recipe11'}">recipe11</option>
							<option th:selected="${sell.unit.toString() == 'recipe12'}">recipe12</option>
							<option th:selected="${sell.unit.toString() == 'recipe13'}">recipe13</option>
							<option th:selected="${sell.unit.toString() == 'recipe14'}">recipe14</option>
							<option th:selected="${sell.unit.toString() == 'recipe15'}">recipe15</option>
							<option th:selected="${sell.unit.toString() == 'recipe16'}">recipe16</option>
							<option th:selected="${sell.unit.toString() == 'recipe17'}">recipe17</option>
							<option th:selected="${sell.unit.toString() == 'recipe18'}">recipe18</option>
							<option th:selected="${sell.unit.toString() == 'recipe19'}">recipe19</option>
							<option th:selected="${sell.unit.toString() == 'recipe20'}">recipe20</option>
						</select>
					</td>
				</tr>
			</table>
			<div class="btn_area">
				<button type="button" class="btn_cancel">취소</button>
				<button type="submit" class="btn_modi">수정</button>
			</div>
		</form>
	</div>
</body>

</html>