<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/obtainorder/production_info.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="/js/JsBarcode.code128.min.js"></script>
	<script src="js/bxlcommon.js"></script>
	<script src="js/bxllabel.js"></script>
</head>
<script>
	// 조회
	function search_production() {
		currentPage = 0;
		showPage(currentPage);
		let data = `kind=${$("#sel_kind").val()}&search=${$(".txt_search").val()}`;
		$.ajax({
			url: "/production/search",
			data: data,
			dataType: "json",
			type: "post",
			success: function (r) {
				var tag = "";
				console.log(r);
				if (r.length === 0) {
					tag = "<tr><td colspan='10'>일치하는 사용자 정보가 없습니다.<td></tr>";
					$(".bodyClass").html(tag);
				} else {
					for (i = 0; i < r.length; i++) {
						tag += `<tr class="info">`;
						tag += `<td><input type="checkbox" class="check_one"></td>`;
						tag += `<td id="number">${i+1}</td>`;
						tag += `<td>${r[i].pNum}</td>`;
						tag += `<td>${r[i].pName}</td>`;
						tag += `<td>${r[i].pSize}</td>`;
						tag += `<td>${r[i].boxCount}</td>`;
						tag += `<td>${r[i].pWeight}</td>`;
						tag += `<td>${r[i].pFinish}</td>`;
						tag += `<td>${r[i].price}</td>`;
						tag += `<td><svg></svg></td>`;
						tag += `</tr>`;
					}

					$(".bodyClass").html(tag);
					console.log(tag);
					generateBarcode();
					updateDataCount(r.length);
				}
			}
		});
	}

	// 완제품 반제품 전체 클릭
	function filterProducts(phase) {
		currentPage = 0;
		showPage(currentPage);
		if (phase === 'all') {
			$('.info').show();
		} else if (phase === 'complete') {
			$('.info').hide();
			$('.info').filter(function () {
				return $(this).find('td:eq(2)').text() === '4';
			}).show();
		} else if (phase === 'half') {
			$('.info').hide();
			$('.info').filter(function () {
				var phaseValue = $(this).find('td:eq(2)').text();
				return phaseValue >= '0' && phaseValue <= '3';
			}).show();
		}
	}


	//행 지우기
	function delete_production() {
		var checkedItems = $('.check_one:checked');

		if (checkedItems.length === 0) {
			alert("선택된 항목이 없습니다.");
		} else {
			if (confirm('선택한 항목을 삭제하시겠습니까?')) {
				var pNums = [];
				checkedItems.each(function () {
					pNum = $(this).parent().parent().find('td:eq(2)').text();
					pNums.push(pNum);
				});
				console.log(pNums);
				$.ajax({
					data: {'pNum': pNums},
					url: '/production/delete',
					type: 'post',
					dataType: 'json',
					success: function (r) {
						if (Number(r.count) == 0) {
							alert(r.message);
							location.reload();
						} else {
							alert(r.message);

							// 체크된 항목 삭제
							checkedItems.closest('tr').remove();
						}
					},
					error: function () {
						alert('서버 오류');
					}
				});
			};
		}
	}
	//바코드 출력 함수
	var issueID = 1;
	var printer_name = 'Printer1';

	function viewResult(result) {
		console.log(result);
	}

	function PrintBarcode(row) {
		console.log(row);
		//return
		var barCodeSymbol = 1;
		var barCodeHeight = 100;
		var barWidth = 4;
		var nBarWidth = parseInt(barWidth / 2);
		var barCodeHri = 1;

		setLabelId(issueID);

		checkLabelStatus();
		clearBuffer();

		setWidth(576);

		drawDeviceFont("제품 정보", 30, 10, 'b', 1, 1, 0, 0, 1, 0);
		drawBlock(30, 40, 530, 45, 'B', 5);
		drawDeviceFont(`제품 번호 : ${$(row).eq(2).text()}`, 30, 50, 'd', 1, 1, 0, 0, 0, 0);
		drawDeviceFont(`제품명 : ${$(row).eq(3).text()}`, 30, 90, 'd', 1, 1, 0, 0, 0, 0);
		drawDeviceFont(`규격 : ${$(row).eq(4).text()}`, 30, 130, 'd', 1, 1, 0, 0, 0, 0);
		drawDeviceFont(`수량 : ${$(row).eq(5).text()}`, 30, 170, 'd', 1, 1, 0, 0, 0, 0);
		drawDeviceFont(`유통 기한 : ${$(row).eq(7).text()}`, 30, 210, 'd', 1, 1, 0, 0, 0, 0);
		drawDeviceFont(`가격 : ${$(row).eq(8).text()}`, 30, 250, 'd', 1, 1, 0, 0, 0, 0);
		//x,y,x,y 좌하단 우하단,글꼴,두께
		drawBlock(30, 300, 530, 300, 'B', 5);
		draw1DBarcode($(row).eq(2).text(), 70, 350, barCodeSymbol, nBarWidth, barWidth, barCodeHeight, 0, barCodeHri);
		printBuffer();

		var strSubmit = getLabelData();

		console.log(strSubmit);

		issueID++;
		console.log(strSubmit, viewResult);
		requestPrint(printer_name, strSubmit, viewResult);

	}
	$(function () {
		//=================체크박스 전체선택=================
		$('.check_all').click(function () {
			$('.check_one').prop('checked', this.checked);
		});
		//조회버튼 클릭 이벤트
		$('.btn_search').click(search_production);
		//업로드버튼 클릭 이벤트
		$('.btn_upload').click(function () {
			window.location.href = "/ProductionInfoUpload";
		});
		//삭제버튼 클릭 이벤트
		$('.btn_delete').click(delete_production);

		//=================완제품 반제품 전체 클릭=================
		filterProducts('all');

		$('#complete').click(function () {
			filterProducts('complete');
		});

		$('#all').click(function () {
			filterProducts('all');
		});

		$('#half').click(function () {
			filterProducts('half');
		});

		//=================행클릭 이벤트=================

		$('.info td:not(:first-child)').click(function () {
			var pNum = $(this).closest('tr').find('td:nth-child(3)').text();
			window.location.href = `/ProductionInfoModi?pNum=${pNum}`;
		});

		//페이지 뷰
		showPage(currentPage);
		updatePageButtons();
		//바코드 호출
		generateBarcode();
		
		//바코드 리더기 처리
		$(".txt_search").keyup(function(e){
			if(e.keyCode==13)
				$('.btn_search').click();
				
		});
		$(".btn_reset").click(function(e){
			$(".txt_search").val('');
			$('.btn_search').click();
				
		});
		//바코드 클릭했을 때 바코드 출력시키는 기능
		$("svg").click(function () {
			let row = $(this).parent().parent().children("td");
			PrintBarcode(row);
		});
	});
	//=================바코드 생성 함수=================
	function generateBarcode() {
		let row = $(".info");

		$(row).each(function (idx, obj) {
			console.log($(obj).children("td").eq(2).text());
			let barcodeValue = $(obj).children("td").eq(2).text();
			JsBarcode($(obj).children("td").last().children("svg")[0], barcodeValue, {format: "CODE128"});
		});
	}
	function updateDataCount(count) {
		// 조회된 데이터의 갯수를 표시하는 요소 업데이트
		$(".count").text(count);
	}
</script>

<body>
	<th:block th:insert="header/header.html"></th:block>
	<div class="All">
		<div class="obtainheader">
			<a href="/mainpage">
				<img src="/img/home.png" alt="" class="source" id="home">
			</a>
			<img src="/img/arrow_right_pink.png" alt="" class="source" id="arrow">
			<a href="/ProductionInfo" class="source" id="headText">수주관리</a>
			<img src="/img/arrow_right_pink.png" alt="" class="source" id="arrow">
			<a href="/ProductionInfo" class="source" id="headText">제품정보</a>
		</div>
		<h2>제품정보</h2>
		<p class="inquire"><span class="count">[[${countAllOrderProduct}]]</span>의 데이터가 조회되었습니다.</p>
		<div class="search_result">
			<div class="business_search">
				<select id="sel_kind"
					style="margin-right: 5px; border-color: #F08080; flex-shrink: 0; border-radius: 4px;">
					<option value="p_num">제품번호</option>
					<option value="p_name">제품명</option>
				</select>
				<img src="/img/search_icon.png" alt="" id="img_search">
				<input type="text" class="txt_search" autofocus>
				<button class="btn_search">검색</button>
				<button class="btn_reset">초기화</button>
			</div>
		</div>
		<table id="search_result">
			<thead>
				<tr>
					<th><input type="checkbox" class="check_all"></th>
					<th>번호</th>
					<th>제품번호</th>
					<th>제품명</th>
					<th>규격</th>
					<th>BOX당 수량</th>
					<th>포장지당 중량</th>
					<th>유통기한</th>
					<th>가격(원)</th>
					<th>바코드</th>
				</tr>
			</thead>
			<tbody class="bodyClass">
				<tr class="info" th:each="sell : ${list}">
					<td><input type="checkbox" class="check_one"></td>
					<td id="number">${i+1}</td>
					<td>[[${sell.pNum}]]</td>
					<td>[[${sell.pName}]]</td>
					<td>[[${sell.pSize}]]</td>
					<td>[[${sell.boxCount}]]</td>
					<td>[[${sell.pWeight}]]</td>
					<td>[[${sell.pFinish}]]</td>
					<td>[[${sell.pPrice}]]</td>
					<td><svg></svg></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="12">
						<button id="prevPage">이전 페이지</button>
						<button id="nextPage">다음 페이지</button>
					</td>
				</tr>
			</tfoot>
		</table>
		<div class="btn_area">
			<button value="button" class="btn_delete">삭제</button>
			<button value="button" class="btn_upload">등록</button>
		</div>
</body>
<script>
	let currentPage = 1; // 현재 페이지 번호를 저장할 변수 추가
	const boards = document.querySelectorAll('.info');
	const prevPageButton = document.getElementById('prevPage');
	const nextPageButton = document.getElementById('nextPage');
	const boardsPerPage = 10;

	function showPage(page) {
		boards.forEach((board, index) => {
			if (index >= page * boardsPerPage && index < (page + 1) * boardsPerPage) {
				board.style.display = 'table-row'; // 변경된 부분: 'table-row'로 설정
			} else {
				board.style.display = 'none';
			}
		});
	}

	function updatePageButtons() {
		if (currentPage === 0) {
			prevPageButton.disabled = true;
		} else {
			prevPageButton.disabled = false;
		}

		if (currentPage === Math.ceil(boards.length / boardsPerPage) - 1) {
			nextPageButton.disabled = true;
		} else {
			nextPageButton.disabled = false;
		}
	}

	prevPageButton.addEventListener('click', () => {
		if (currentPage > 0) {
			currentPage--;
			showPage(currentPage);
			updatePageButtons();
		}
	});

	nextPageButton.addEventListener('click', () => {
		if (currentPage < Math.ceil(boards.length / boardsPerPage) - 1) {
			currentPage++;
			showPage(currentPage);
			updatePageButtons();
		}
	});
	//번호 컬럼에 숫자를 순서대로 넣기
	const infoRows = document.querySelectorAll('.info');
	infoRows.forEach((row, index) => {
		const numberCell = row.querySelector('#number');
		numberCell.textContent = index + 1;
	});
</script>

</html>