@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR&display=swap');

.All {
	margin: 0px auto;
	width: 1426px;
	height: 1117px;
}

.obtainheader {
	margin-left: 45.81px;
	margin-top: 55px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.obtainheader .source {
	margin: 10px;
}

.obtainheader #arrow {
	width: 12px;
	height: 100%;
}

.obtainheader #headText {
	color: #000;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
}

.obtainheader #home {
	width: 30px;
	height: 100%;
	flex-shrink: 0;
}

h2 {
	margin-left: 40px;
	margin-top: 29.84px;
	color: #000;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
}

.form {
	display: flex;
	height: 250px;
	flex-direction: row;
	align-items: stretch;
	margin-left: 42px;
	margin-bottom: 63.49px;
}

.form>table {
	border-collapse: collapse;
	width: 50%;
	height: auto;
	border: 2px solid black;
}

.form>table>tbody>tr>* {
	border: 1px solid black;
}

.form>table>tbody>tr>th {
	padding: 5px 0px;
	height: 20px;
	box-sizing: border-box;
	background-color: #f0808033;
}

.thead {
	width: 100px;
	color: #000;
	text-align: center;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 130%;
	/* 15.6px */
}

.inputtext {
	width: 164.874px;
	height: 24px;
	flex-shrink: 0;
	border: 1px solid #9A9595;
	border-radius: 4px;
}

.inputemail {
	width: 120px;
	height: 24px;
	flex-shrink: 0;
	border: 1px solid #9A9595;
	border-radius: 4px;
}

#img_div {
	position: relative;
}

#search {
	position: absolute;
	left: 26%;
	top: 17%;
}

#company_search,
#manager_search {
	width: 71px;
	height: 24px;
	flex-shrink: 0;
	border-radius: 4px;
	background-color: #F08080;

	color: #FFF;
	text-align: center;
	font-family: Noto Sans KR;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border: none;
	margin-left: 5px;
}

#company_search:hover,
#manager_search:hover {
	background-color: #FFF;
	border: 2px solid #F08080;

	color: #F08080;
}

.inputdate {
	width: 169.871px;
	height: 24px;
	flex-shrink: 0;
	border-radius: 4px;
	border: 1px solid #9A9595;
}

.input_account {
	width: 176.865px;
	height: 24px;
	flex-shrink: 0;
	border: 1px solid #9A9595;
	border-radius: 4px;
	margin-right: 5px;
}

.address {
	margin-left: 5px;
	width: 418.681px;
	height: 50px;
	flex-shrink: 0;
	border-radius: 4px;
	border: 1px solid #9A9595;
}

#account_div {
	height: 64px;
}

#account_1,
#account_2 {
	margin: 5px;
	color: #4D4D4D;
	font-family: Noto Sans KR;
	font-size: 11px;
	font-style: normal;
	font-weight: 300;
	line-height: 130%;
	/* 14.3px */
}

#whelk {
	color: #F08080;
	border-top: none;
}

#more_info {
	margin-left: 39.97px;
	border-radius: 4px;
	border: 2px solid black;
	border-collapse: collapse;
}

.num {
	width: 50px !important;
	text-align: center;
}

#more_info th {
	width: calc((1386px - 50px) / 8);
	height: 36px;
	color: #000;
	text-align: center;
	font-family: Noto Sans KR;
	font-size: 12px;
	font-style: normal;
	font-weight: 800;
	line-height: 130%;
	/* 15.6px */
	border-radius: 4px 0px 0px 0px;
	border: 1px solid #000;
	background: rgba(240, 128, 128, 0.20);
}

#more_info td {
	height: 36px;
	border: 1px solid black;
	border-bottom: none;
	color: #000;
	text-align: center;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
}

.btn_delete,
.btn_upload {
	width: 145px;
	height: 50px;
	flex-shrink: 0;
	border-radius: 5px;
	background: #F08080;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border: none;
	color: #FFF;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#btn_check:hover,
.btn_delete:hover,
.btn_upload:hover {
	background-color: #FFF;
	border: 2px solid #F08080;

	color: #F08080;
}

.btn_area {
	display: flex;
	justify-content: space-around;
	padding: 29px 0px;
}

.check {
	display: flex;
	flex-direction: row;
	border: none !important;
	margin: 2px 0px;
}

input {
	margin-left: 5px;
}

/*company 팝업*/
.company_popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	/* 배경 어둡게 처리 */
}

.company_popin {
	background-color: #fff;
	width: 80%;
	max-width: 1100px;
	margin: 50px auto;
	padding: 20px;
	border-radius: 5px;
}

#company_list {
	border: 1px solid #242424;
	border-collapse: collapse;
}

#company_list>thead>tr>th {
	border: 1px solid #242424;
	background-color: #fce6e6;
	font-size: 15px;
}
#company_list>tbody>tr>td {
	border: 1px solid #242424;
	text-align: center;
	font-size: 15px;
}

/* 닫기 버튼 스타일 */
.close {
	color: #888;
	float: right;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}